* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(248, 0, 0);
    --secondary: rgb(0, 0, 0);
    --tertiary: rgb(223, 164, 164);
    --dark: rgb(114, 69, 59);
    --light: rgb(255, 255, 255);
  }

body{
    font-family: Helvetica, sans-serif;
    
    
  }

.logo {

}

img {
    border-radius: 8px;
    max-width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

header {
    padding: 40px 6% 40px 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--light);
    color: var(--primary);
  }



/* a:link, a:visited {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    text-shadow: 25px var(--secondary);

} */


li {
      display: inline;
      padding: 10px 30px;
      margin: auto;
      align-items: center;
      align-content: flex-start;
  }
    
a:link, 
a:visited {
    text-decoration: none;
    color: var(--secondary);
    background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem
}

a:hover {
    text-shadow: 25px var(--secondary);
}

/* .hero img {
        
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

} */



h2 {
    font-size: larger;
    align-items: center;
    align-content: flex-start;
    
}

/* img {
    border-radius: 8px;
    max-width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */

  address {
    font-family: inherit;
    font-size: small;
  }